.heading{
    display: flex;
    justify-content: center;

    h1{
        padding-top: 2%;
        font-size: 2.5em;
        color: #333;
    }

}

.sec-a {
    padding-top: 2%;
    text-align: center;
    padding-bottom: 2%;

    .sec-a-1 {
        .cstm-input-01 {
            margin-left: 2%;
            @media (max-width: 600px) {
                width: 120px;
            }
        }
        .simulate-btn {
            margin-bottom: 2%;
            margin-left: 4%;
        }
    }
    .sec-a-2 {
        button {
            margin-left: 3%;
        }
    }
}

.sec-gmap {
    margin-left: 10%;

    .progress-grp {
        display: flex; 
        align-items: center; 
        width: 90%;
        padding-bottom: 1%;

        .cstm-progress-bar {
            flex-grow: 1;
            margin-right: 10px; // Add some space between the progress bar and the span
            height: 15px;
        }
    }
}
